style{
  font-family: 'Work Sans', sans-serif;
}
*{
  margin: 0;
}
   .fixed-width {
    width: 1300px;
    margin: auto;
}


.btn-primary{
background-color: #e55473;
border: none;
color: white;
text-align: center;
padding: 15px 30px;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
margin-top: 15px;
}
/* banner section */
.banner{
  background-color: #fdeef1;
  display: flex;
  align-items: center;
  
}
.flower-pic{
  width: 450px;
  padding: 0px 140px;
  padding-top: 50px;
}
.banner-content {
  padding: 0px 140px;
  font-size: 30px;
}

.banner-content p{
  margin-top: 15px;
  font-size:18px;
}
/* featured section */
.featured{
  text-align: center;
  padding-top: 78px;
  padding-bottom: 80px;
  
}
.featured h1{
  font-size: 40px;
  font-weight: 600;
}
.featured p{
  font-size: 18px;
  padding-top: 10px;

}
.featured-img{
  display: flex;
  margin: 50px 100px;
  justify-content: space-between;
}
.featured-content1 p{
  margin: auto;
  text-decoration: underline;
  font-size: 18px;
}
.featured-img1{
  background-color: #f2dee8;
  padding: 70px 50px 0px 50px;
  border-radius:50% 50% 0% 0%;
 

}
.featured-content2 p{
  margin: auto;
  text-decoration: underline;
  font-size: 18px;
  
}
.featured-img2{
  background-color: #daf0f1;
  padding: 100px 30px 30px 30px;
  border-radius:50% 50% 0% 0%;

 
}
.featured-content3 p{
  margin: auto;
  text-decoration: underline;
  font-size: 18px;
}

.featured-img3{
  background-color: #e4ecdc;
  padding: 30px 50px 0px 50px;
  border-radius:50% 50% 0% 0%;

}
.flower-content{
  display: flex;
  justify-content: center;
  
}
/* extra feture style */
.extra-feture{
  background-color:#f4f4f4 ;
  display: flex;
  justify-content: space-around;
  padding: 85px 0;
  text-align: center;
border-radius: 8px;
}
/* hot deal style */
.hot-deal {
  padding: 100px 0px;
  background: #ffafaf57;
  margin-top: 120px;
}
.hot-deal-prnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.hot-deal-left{
  text-align: center;
  width: 65%;
}
.hot-deal-left h1 {
  font-size: 40px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 20px;
}
.hot-deal-left p {
  font-size: 18px;
  line-height: 25px;
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}
.hot-deal-left h1 span{
  color: #e55473;;
}
.social-title{
  text-align: center;
  padding-top: 100px;
}
.social-title h1{
  font-size: 40px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 20px;
}
.social-title p{
  width: 45%;
  margin: auto;
  font-size: 18px;
  line-height: 25px;
}
.social-ads {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 100px;
}
.social-item{
  width: 25%;
  overflow: hidden;
  padding: 0px 12px;
}
.submit{
  background-image: url(/Image/Rectangle\ 9.png);
  padding: 100px 0px;
  background-position:top center;
  background-size:cover;
  text-align: center;
  margin-bottom: 100px;
}
.submit h1{
  font-size: 40px;
  font-weight: 900;
  color: #272727;
  margin-bottom: 10px;
}
.submit p{
  font-size: 18px;
 color: #272727;
 line-height: 25px;
 margin-bottom: 40px;
}
.submit form{
  width: 55%;
  margin: auto;
}
.email-input{
  width: 79%;
  padding: 15px 0px 15px 10px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
}
/* footer start */
footer{
  background-color: #000;
  padding: 100px 0px;
}
.main-footer{
  text-align: center;
  width: 40%;
  margin: auto;
}
.main-footer h1{
  color: #fff;
  font-size: 40px;
  font-weight: 900;

}
.main-footer p{
color: #fff;
margin-top: 20px;
font-size: 18px;
line-height: 25px;
margin-bottom: 40px;
}
.main-footer h1 span{
  color: #e55473;
}
.main-footer span{
  color: rgba(255, 255, 255, 0.4);
}