style{
  font-family: 'Work Sans', sans-serif;
}
*{
  margin: 0;
}

.btn-primary{
background-color: #e55473;
border: none;
color: white;
text-align: center;
padding: 15px 30px;
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
margin-top: 15px;
}
/* banner section */
.banner{
  background-color: #fdeef1;
  display: flex;
  align-items: center;
  
}
.flower-pic{
  width: 450px;
  padding: 0px 140px;
  padding-top: 50px;
}
.banner-content {
  padding: 0px 140px;
  font-size: 30px;
}

.banner-content p{
  margin-top: 15px;
  font-size:18px;
}
/* featured section */
.featured{
  text-align: center;
  padding-top: 78px;
  padding-bottom: 80px;
  
}
.featured h1{
  font-size: 40px;
  font-weight: 600;
}
.featured p{
  font-size: 18px;
  padding-top: 10px;

}
.featured-img{
  display: flex;
  margin: 50px 100px;
  justify-content: space-between;
}
.featured-content1 p{
  margin: auto;
  text-decoration: underline;
  font-size: 18px;
}
.featured-img1{
  background-color: #f2dee8;
  padding: 70px 50px 0px 50px;
  border-radius:50% 50% 0% 0%;
 

}
.feature-content2 p{
  margin: auto;
  text-decoration: underline;
  font-size: 18px;
  
}
.featured-img2{
  background-color: #daf0f1;
  padding: 100px 30px 30px 30px;
  border-radius:50% 50% 0% 0%;

 
}
.feature-content3 p{
  margin: auto;
  text-decoration: underline;
  font-size: 18px;
}

.featured-img3{
  background-color: #e4ecdc;
  padding: 30px 50px 0px 50px;
  border-radius:50% 50% 0% 0%;

}
.flower-content{
  display: flex;
  justify-content: center;
  
}